/* Styles for tiptap.dev */
.markdown-editor {
  /* "@tailwindcss/typography" overrides */
  &.prose {
    max-width: 100%;

    /* headings "*/
    & .heading {
      color: rgba(243, 244, 246);
    }

    /* bold "*/
    & .bold {
      color: rgba(243, 244, 246);
      font-weight: bolder;
    }

    /* code */
    & .code {
      color: rgba(249, 168, 212);
      &::before,
      &::after {
        content: "";
      }
    }

    /* list item */
    & .list-item {
      & > *:first-child {
        margin-top: 0.75em;
      }
      & > *:last-child {
        margin-bottom: 0.75em;
      }
    }

    /* unordered list item */
    & ul .list-item {
      padding-left: 30px;
    }

    /* ordered list item */
    & ol .list-item {
      &::before {
        color: rgba(243, 244, 246);
      }
    }

    /* task item */
    & .task-item {
      padding: 0em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      &::before {
        display: none;
      }

      & > *:first-child {
        margin-top: 0em;
      }
      & > *:last-child {
        margin-bottom: 0em;
      }

      & > div > p {
        margin: 0px;
      }
    }
  }

  &[contenteditable="false"] {
    & .heading,
    .bold,
    p {
      color: rgb(255, 255, 255, 0.7);
    }
  }

  /* task item */
  & .task-item {
    display: flex;
    align-items: flex-start;

    &[data-checked="true"] {
      text-decoration: line-through;
    }

    & > label {
      flex: 0 0 auto;
      padding-top: 2px;
      user-select: none;
      margin-right: 15px;
    }

    & > div {
      flex: 1 1 auto;
    }

    & input[type="checkbox"] {
      cursor: pointer;
      position: relative;
      transition: background-color 200ms ease-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      height: 16px;
      width: 16px;
      background: rgba(243, 244, 246);
      border: 1px solid rgba(75, 85, 99);
      border-radius: 3px;

      &:checked {
        background: rgba(236, 72, 153);
        &::after {
          display: block;
        }
      }

      &::after {
        content: "\2713";
        position: absolute;
        display: none;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
        top: 0px;
        left: 1px;
      }
    }
  }
}
