@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #1F2937;
}

/* Styles for tiptap.dev */

/* headings - override "@tailwindcss/typography" for (text) color */
.notes-editor.prose *:is(h1, h2, h3, h4, h5, h6, strong) {
  color: rgba(243, 244, 246);
}

.notes-editor.prose strong {
  font-weight: bolder;
}

div[class~="notes-editor"][contenteditable="false"] *:is(h1, h2, h3, h4, h5, h6, p, strong) {
  color: rgb(255, 255, 255, 0.7);
}

/* Bullet list - override "@tailwindcss/typography" */
.notes-editor.prose > ul > li > *:first-child {
  margin-top: 0.75em;
}

.notes-editor.prose > ul > li > *:last-child {
  margin-bottom: 0.75em;
}

/* Task item */
.notes-editor ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  padding-top: 1px;
  user-select: none;
}

.notes-editor ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

.notes-editor ul[data-type="taskList"] li input[type="checkbox"] {
  cursor: pointer;
}

.notes-editor ul[data-type="taskList"] li[data-checked="true"] {
  text-decoration: line-through;
}

/* Tasks list - override "@tailwindcss/typography" */
.notes-editor ul[data-type="taskList"] li {
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.notes-editor ul[data-type="taskList"] li::before {
  display: none;
}

.notes-editor ul[data-type="taskList"] li > *:first-child {
  margin-top: 0px;
}

.notes-editor ul[data-type="taskList"] li > *:last-child {
  margin-bottom: 0px;
}

.notes-editor ul[data-type="taskList"] li > div > p {
  margin: 0px;
}

/* Code - override "@tailwindcss/typography"*/
.notes-editor.prose code::before {
  content: "";
}

.notes-editor.prose code::after {
  content: "";
}
